*{
    margin: 0;
    border: 0;
}
a{
    text-decoration: none;
    color: black;
}
body{
    border: 1px solid #000;
    border-bottom: none;
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.h{
    background-color: #0000003f ;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    font-family: Inika;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.h1{

    
    padding-top: 2%;
    padding-bottom: 2%;
    color: #000;
    text-align: center;
    font-family: Inika;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cuadrado{
    background-color: #0000003f ;
    border: 1px solid #000;
    
}

.h2{
    width: 20%;
    color: #000;
    text-align: center;
    font-family: Inika;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 5%;
    padding-bottom: 2%;
}

.p{
    text-align: center;
    background-color: #0000003f ;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 1px solid #000;
    margin: 5%;
    color: #000000;
    font-family: Inika;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.p2{
    text-align: justify;
    background-color: #0000003f ;
    padding: 5%;
    border: 1px solid #000;
    margin: 5%;
    color: #000000;
    font-family: Inika;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container {
    display: flex;
    width: 100%;
  }
.containericon {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
.icon{
    text-align: center;
    border-radius: 7px;
    width: 20%;
}
.image{
    width: 120px;
    height: 120px;
    border: 1px solid #000;
    border-radius: 10px;
}
.homeicon{
    display: flex;
    width: 70px;
    height: 70px;
    border: 1px solid #000;
    border-radius: 15px;
    margin: 15px;

}
 .image:hover{
    color: #da1717ad
 }

