*{
    margin: 0;
    border: 0;
}
a{
    text-decoration: none;
    color: black;
}
body{
    border: 1px solid #000;
    border-bottom: none;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.h1{
    background-color:  #00000016;
    background-color: #0000003f ;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    font-family: Inika;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.h2{
    color: #000;
    text-align: center;
    font-family: Inika;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 5%;
    padding-bottom: 2%;
}
.p{
    color: #000;
    text-align: center;
    font-family: Inika;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
}

.p{
    text-align: center;
    background-color: #0000003f ;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 1px solid #000;
    margin: 5%;
    color: #ffffff;
    font-family: Inika;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.container {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos de manera uniforme */
  }
  .containericon {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos de manera uniforme */
  }
  .icon{
    border: 1px solid #000;
    width: 10%;
    height: 10%;
    margin: 2%;
    margin-top: 0%;
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto;
    border-radius: 7px;
}